main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main ul {
  display: flex;
  list-style: none;
}
main ul li {
  margin-right: 10px;
  position: relative;
}
main ul li strong {
  padding: 5px 30px;
  background: #fab1a0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
main ul li div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  background: #636e72;
  transform: scale(0);
  transition: 0.5s;
  transform-origin: left top;
  z-index: -1;
}
main ul li div a {
  padding: 5px 0;
  text-decoration: none;
  color: white;
}
main ul li:hover strong + div {
  transform: scale(1);
}
